*{
    margin: 0;
    padding: 0;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: #008ABB;
    
}

main{
    /* margin: ; */
    padding: 6px;
}

div .card{
    margin: 2px;
    width: 90%;

}

/* nav a .nav_link{
    font-weight:bold;
    justify-content: center;
    align-items: center;

} */